#d{
    height: 400 px;
    width: 700 px;
    border: solid;
    background - image: url(images / 0. jpeg);
    position: relative;
}
.thief {
    height: 70 px;
    width: 35 px;
    position: absolute;
    right: 162 px;
    top: 165 px;
}

.thief img {
    width: 100 % ;
    height: 100 % ;

}

.boat {
    height: 64 px;
    width: 148 px;
    position: absolute;
    right: 162 px;
    top: 234 px;
}
.boat img {
    height: 100 % ;
    width: 100 % ;
}
.back {
    height: 41 px;
    width: 70 px;
    position: absolute;
    right: 534 px;
    top: 27 px;
}
.back img {
    width: 100 % ;
    height: 100 % ;
}
.answer {
    height: 41 px;
    width: 70 px;
    position: absolute;
    right: 622 px;
    top: 27 px;
}
.answer img {
    height: 100 % ;
    width: 100 % ;
}
.police {
    height: 33 px;
    width: 22 px;
    position: absolute;
    right: 137 px;
    top: 164 px;
}
.police img {
    height: 200 % ;
    width: 230 % ;
}
.redwoman {
    height: 70 px;
    width: 35 px;
    position: absolute;
    right: 105 px;
    top: 234 px;
}
.redwoman img {
    height: 100 % ;
    width: 100 % ;
}
.yellowwoman {
    height: 70 px;
    width: 35 px;
    position: absolute;
    right: 104 px;
    top: 304 px;
}
.yellowwoman img {
    height: 100 % ;
    width: 100 % ;
}
.yellowchild {
    height: 59 px;
    width: 28 px;
    position: absolute;
    right: 136 px;
    top: 313 px;
}
.yellowchild img {
    height: 100 % ;
    width: 100 % ;
}
.yellowchild2 {
    height: 59 px;
    width: 28 px;
    position: absolute;
    right: 79 px;
    top: 314 px;
}
.yellowchild2 img {
    height: 100 % ;
    width: 100 % ;
}
.redchild {
    height: 57 px;
    width: 27 px;
    position: absolute;
    right: 132 px;
    top: 246 px;
}
.redchild img {
    height: 100 % ;
    width: 100 % ;
}
.redchild2 {
    height: 57 px;
    width: 27 px;
    position: absolute;
    right: 78 px;
    top: 245 px;
}
.redchild2 img {
    height: 100 % ;
    width: 100 % ;
}
.share {
    height: 49 px;
    width: 56 px;
    position: absolute;
    right: 642 px;
    top: 344 px;
}
.share img {
    height: 100 % ;
    width: 100 % ;
}
.help {
    height: 49 px;
    width: 50 px;
    position: absolute;
    right: 436 px;
    top: 344 px;
}
.help img {
    height: 100 % ;
    width: 100 % ;
}
.letsgo {
    height: 60 px;
    width: 38 px;
    position: absolute;
    right: 373 px;
    top: 27 px;
}
.letsgo img {
    height: 100 % ;
    width: 100 % % ;
}